/* 태그 스타일*/

html{ 
        width: 100%;
        height: 100%;
        margin: 0;
        background: #060e1b;
        background-image: url(https://cdn.pixabay.com/photo/2020/11/07/01/40/abstract-5719530_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}

body{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

header {
    background: none;
    width: 100%;
    height: 10%;
    text-align: center;
    background: none;
}

section{
  width: 100%;
  height: 80%;
  background: none;
}

article {
  margin: 0 auto; 
  width: 70%; 
  height: 80%;
  position: relative;
  top: 6%;
}


footer{
  width: 100%;
  height: 10%;
  background:none;
  margin: 0 auto;
  text-align: center;
  font-size: 80%;
}

nav {
  position: relative;
  top: 20%;
  background-image: url(image/asd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 10%;
  height: 40%;
  float: left;
}


/* 수평 메뉴*/
#horizontal{
  margin: 0 auto;
  padding: 60% 0;
  width: 70%;
  text-align: center;
  list-style-type: none;
}

.hor_menu{
  text-decoration: none;
  margin: 0 10%;
  padding: 5px 10px;
  background: none;
  width: 50%;
  height: 50%;
}

.hor_menu:hover{
  background: wheat;
  color: #060e1b;
}


/*  드롭다운 서브메뉴 */
.parent-button {
    top: 50%;
    position: relative;
    display: inline-block;
    background-color: wheat;
  }
  
  .child-buttons {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .parent-button:hover .child-buttons {
    display: flex;
    justify-content: center;
  }
  
  .child-button {
    margin: 0 5px;
    border-radius: 20%;
  }

  .child-button:nth-child(1) {
    background-image: url(https://github.com/scv829/webProgramming/blob/main/image/instargram.png?raw=true);
    background-size: cover;
    width: 200%;
    height: 250%;
    order: 1;
  }
  
  .child-button:nth-child(2) {
    order: 2;
  }
  
  .child-button:nth-child(3) {
    order: 3;
  }

  .child-button:nth-child(4) {
    order: 4;
  }

  .child-button:nth-child(5) {
    order: 5;
  }

  .child-button:nth-child(6) {
    order: 6;
  }

  .child-button:nth-child(7) {
    order: 7;
  }

/* 수직 메뉴*/
  #vertical {
    background: none;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    text-align: center;
  }

  .ver_menu{
    color: white;
    text-decoration: none;
    margin: auto 10%;
    padding: 5px 10px;
    background: none;
  }

  .ver_menu:hover{
    background: wheat;
    color: #060e1b;

  }

  /* 게시글 */
   
  .content > div {
    display: none;
  }

  .content > div:target{
    display: block;
  }

.planet {
  float: left;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.divS1 {
  position: relative;
  top: 10%;
  left: 15%;
  float: left;
  text-align: center;
  background: none;
  color: #fff;
  border-radius: 30%;
  border: none;
  padding: 10px 20px;
  box-shadow: 
    0 0 5px rgb(18, 201, 143),
    0 0 10px rgb(18, 201, 143),
    0 0 0px rgb(18, 201, 143), 
    0 0 10px rgb(18, 201, 143);
  background-color:rgba(18,201,143, 0.1);

}

.divS2 {
  position: relative;
  top: 60%;
  left: -10%;
  float: right;
  text-align: center;
  padding: auto;
  width: 20%;
  height: 30%;
  background: none;
  color: #fff;
  border-radius: 30%;
  border: none;
  word-break: break-all;

  box-shadow: 
    0 0 5px rgb(18, 201, 143),
    0 0 10px rgb(18, 201, 143),
    0 0 0px rgb(18, 201, 143), 
    0 0 10px rgb(18, 201, 143);
  background-color:rgba(18,201,143, 0.1);
}

#c {
  background-image: url(https://github.com/scv829/webProgramming/blob/main/image/c.png?raw=true);
    box-shadow: 
    0 0 5px  rgb(101, 78, 210),
    0 0 10px  rgb(101, 78, 210),
    0 0 0px  rgb(101, 78, 210), 
    0 0 10px  rgb(101, 78, 210);
    border-radius: 5%;
}

#cpp {
  background-image: url(https://github.com/scv829/webProgramming/blob/main/image/cpp.png?raw=true);
  box-shadow: 
  0 0 5px  rgb(101, 154, 210),
  0 0 10px   rgb(101, 154, 210),
  0 0 0px   rgb(101, 154, 210), 
  0 0 10px   rgb(101, 154, 210);
  border-radius: 5%;
}

#csharp {
  background-image: url(https://github.com/scv829/webProgramming/blob/main/image/csharp.png?raw=true);
  box-shadow: 
  0 0 5px  rgb(118, 0, 149),
  0 0 10px   rgb(118, 0, 149),
  0 0 0px   rgb(118, 0, 149), 
  0 0 10px   rgb(118, 0, 149);
  border-radius: 5%;
}

#java {
  background-image: url(https://github.com/scv829/webProgramming/blob/main/image/java.png?raw=true);
  box-shadow: 
  0 0 5px  rgb(255, 234, 204),
  0 0 10px   rgb(255, 234, 204),
  0 0 0px   rgb(255, 234, 204), 
  0 0 10px   rgb(255, 234, 204);
  border-radius: 5%;
}

#swift {
  background-image: url(https://github.com/scv829/webProgramming/blob/main/image/swift.png?raw=true);
  box-shadow: 
  0 0 5px  rgb(250, 148, 64),
  0 0 10px   rgb(250, 148, 64),
  0 0 0px   rgb(250, 148, 64), 
  0 0 10px   rgb(250, 148, 64);
  border-radius: 5%;
}

#android {
  background-image: url(https://github.com/scv829/webProgramming/blob/main/image/android.png?raw=true);
  box-shadow: 
  0 0 5px  rgb(162, 255, 106),
  0 0 10px   rgb(162, 255, 106),
  0 0 0px   rgb(162, 255, 106), 
  0 0 10px   rgb(162, 255, 106);
  border-radius: 5%;
}

#linux {
  background-image: url(https://github.com/scv829/webProgramming/blob/main/image/linux.png?raw=true);
  box-shadow: 
  0 0 5px  rgb(255, 231, 73),
  0 0 10px   rgb(255, 231, 73),
  0 0 0px   rgb(255, 231, 73), 
  0 0 10px   rgb(255, 231, 73);
  border-radius: 5%;
}
